# Porta do servidor
PORT=3000

# Segurança JWT - gerar com: node -e "require('crypto').randomBytes(64).toString('hex').then(console.log)"
JWT_SECRET=coloca-aqui-um-segredo-muito-longo-e-aleatorio

# Credenciais do admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=altera-esta-password

# Origem permitida (CORS)
ALLOWED_ORIGIN=https://project-7dk6w.vercel.app

#Supabase
VITE_SUPABASE_URL=https://tanbifzbkzcwpakaoenr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRhbmJpZnpia3pjd3Bha2FvZW5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNjYyNTAsImV4cCI6MjA5NDg0MjI1MH0.Ran-y6DLX99WpOVZknwc5WTrmPYso_TM6En4yMzWpUU
